author "{{ ansible_ssh_user }}"
description "Kafka broker"
version "1.0"

start on started networking
stop on runlevel [!2345]

respawn
respawn limit 2 5

script
  exec su - {{ ansible_ssh_user }} -c 'cd /home/{{ ansible_ssh_user }}/bin/kafka ; /home/{{ ansible_ssh_user }}/bin/kafka/bin/kafka-server-start.sh /home/{{ ansible_ssh_user }}/bin/kafka/config/server.properties > /home/{{ ansible_ssh_user }}/logs/kafka.log'
end script